{% if list_routes %}
	<ul>
	{% for route in list_routes %}
	<li><a href="/tickets/ticket?fly_from={{route.fly_from}}&fly_to={{route.fly_to}}">{{ route.name }}</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p> No polls are available.</p>
{% endif %}
