{% if tickets %}
	<ul>
	{% for key,value in tickets.items %}
		<li><p style="margin: 0; padding: 0;">{{key}} - {{value.price}}</p></li>
	{% endfor %}
	</ul>
{% else %}
	<p> No tickets are available.</p>
{% endif %}
